@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
@import url(http://fonts.googleapis.com/css?family=Poly);
/* line 10, ../../src/scss/main.scss */
.flex-item {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

/* line 18, ../../src/scss/main.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 24, ../../src/scss/main.scss */
body {
  font-family: 'Ledger', sans-serif;
  background-color: whitesmoke;
  margin: 0;
}

/* line 30, ../../src/scss/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 35, ../../src/scss/main.scss */
header {
  color: #F98648;
  font-weight: 900;
  padding: 1rem;
  border-bottom: 3px solid #A4BA71;
}
/* line 41, ../../src/scss/main.scss */
header p {
  color: #A4BA71;
}
/* line 45, ../../src/scss/main.scss */
header .login {
  font-size: 85%;
  margin-top: 1em;
}

/* line 53, ../../src/scss/main.scss */
.items {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: .75rem;
}
/* line 61, ../../src/scss/main.scss */
.items li {
  display: -webkit-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-justify-content: center;
  margin: .25rem;
  list-style-type: none;
  border-radius: .25rem;
  background-color: #FBB829;
  padding: 1rem;
  transition: background-color .2s ease-in-out;
  box-shadow: inset 0 0 143px #eda304;
}
/* line 74, ../../src/scss/main.scss */
.items li.item:hover {
  background-color: #eda304;
  cursor: pointer;
}
/* line 79, ../../src/scss/main.scss */
.items li.new-item {
  background-color: #A4BA71;
  box-shadow: inset 0 0 143px #8da751;
}
/* line 83, ../../src/scss/main.scss */
.items li.new-item p {
  overflow: auto;
}
/* line 97, ../../src/scss/main.scss */
.items li a {
  max-width: 25rem;
}
/* line 101, ../../src/scss/main.scss */
.items li h2,
.items li p {
  font-weight: 100;
}
/* line 106, ../../src/scss/main.scss */
.items li button {
  padding: .25rem;
  width: 100%;
}
