@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
@import url(http://fonts.googleapis.com/css?family=Poly);
/* line 7, ../../src/scss/main.scss */
.flex-container, .existing {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 20, ../../src/scss/main.scss */
.flex-item {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

/* line 28, ../../src/scss/main.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 34, ../../src/scss/main.scss */
body {
  font-family: 'Ledger', sans-serif;
  background-color: whitesmoke;
  margin: 0;
}

/* line 40, ../../src/scss/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 45, ../../src/scss/main.scss */
header {
  color: #F98648;
  font-weight: 900;
  padding: 1rem;
  border-bottom: 3px solid #A4BA71;
}

/* line 53, ../../src/scss/main.scss */
main {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 57, ../../src/scss/main.scss */
.existing {
  padding: 1rem;
}
/* line 63, ../../src/scss/main.scss */
.existing li {
  display: -webkit-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-justify-content: center;
  margin: .25rem;
  list-style-type: none;
  border-radius: .25rem;
  background-color: #FBB829;
  padding: 1rem;
  transition: background-color .2s ease-in-out;
}
/* line 75, ../../src/scss/main.scss */
.existing li.item:hover {
  background-color: #eda304;
  cursor: pointer;
}
/* line 80, ../../src/scss/main.scss */
.existing li.new-item {
  background-color: rgba(251, 184, 41, 0.5);
}
/* line 85, ../../src/scss/main.scss */
.existing li h2,
.existing li p {
  font-weight: 100;
  margin-bottom: .5rem;
}
/* line 90, ../../src/scss/main.scss */
.existing li button {
  padding: .25rem;
  width: 100%;
}

/* line 97, ../../src/scss/main.scss */
.new {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: rgba(210, 215, 165, 0.47);
  border-radius: .25rem;
  padding: 1rem;
  width: 15rem;
}
/* line 105, ../../src/scss/main.scss */
.new textarea {
  height: 200px;
  width: 100%;
}
/* line 110, ../../src/scss/main.scss */
.new button {
  width: 100px;
}
