!!! 5

//if lt IE 10
    html.oldie#ng-app(ng-app='app')
//[if gt IE 8]<!
html(ng-app='app')
    //<![endif]

    head

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        base(href='/')

        link(rel='stylesheet', type='text/css', href='css/main.css')

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='https://cdn.firebase.com/v0/firebase.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js')
        script(src='js/app.js')

    body(ng-controller='MainCtrl')

        header
            h1 #matterstome

        main
            ul.existing
                li.new-item
                    div
                        h2 Add a new item
                        form(ng-submit='addItem()')
                            p
                                label What is it?
                                input(ng-model='new_item.name')
                            p
                                label Describe it
                                textarea(ng-model='new_item.content')
                            p
                                label Link
                                input(type='url', ng-model='new_item.url')

                            button(type='submit') Send

                li.item(ng-repeat='item in items | reverse')
                    a(ng-href='{{item.url}}')
                        h2 {{item.name}}
                        p {{item.content}}


            //.new
                form(ng-submit='addItem()')
                    input(ng-model='new_item.name')
                    textarea(ng-model='new_item.content')
                    button(type='submit') Send
